[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
python-dateutil = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pylint = "*"
boto3 = "*"
"aws-cdk.core" = "*"
"aws-cdk.aws-lambda" = "*"
"aws-cdk.aws-events" = "*" 
"aws-cdk.aws-events-targets" = "*"
"aws-cdk.aws-secretsmanager" = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
start = "python court_reserve/court_reserve.py"
